*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 65px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height: 55px;
    width: 155px;
}
.logo{
    background-image: url("/Amazon.png");
    background-size: cover;
    height: 50px;
    width: 100%;  
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border-color: white;
}
.add-first{
    font-size: 15px;
    color: #cccccc;
    margin-left: 15px;
}
.add-sec{
    font-size: 18px;
    color: #ffffff;
}
.nav-search{
    display: flex;
    height: 50px;
    width: 610px;
      justify-content: space-evenly;
      border-radius: 4px;
}
.nav-search:hover{
    border:2px solid orange;
}
.nav-select{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    width: 50px;
    text-align: center;
}
.nav-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #febd68;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;    
}
.signin{
   
    font-size: 15px;
    color: #cccccc;
}
.nav-cart i{
   
    font-size: 30px;
}
.nav-cart{
   
    font-size: 1rem;
    font-weight: 600;
}
.panel{
    color: white;
    height: 45px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px; 
}
.panel-option{
    width: 82%;
}
.panel-option ul li{
    display: inline;
    list-style-type: none;
    margin-left: 25px;  
}
a{
    text-decoration: none;
    color: white;
}
.panel-shoping{
    font-size: 18px;
    font-weight: 500;
}
.hero-section{
    height: 45vh;
    width: 100%;
    background-image: url("/hero.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-first-line{
    background-color: white;
    color: black;
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
    
}
.hero-first-line a{
    text-decoration: none;
    color: #007185;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 149, 240);
    flex-wrap: wrap;
}
.box{
    height: 460px;
    width: 23%;
    background-color: #fff;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box1-image{   
    height: 348px; 
    background-image: url("/image1.jpg");
    background-size: cover;
    margin: 1rem 0px;
}
.box1-content{
    margin: 0px 1rem;
}
footer{
    margin-top: 18px;
}
.foot-panel1
{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    padding-top: 20px;
}
.foot-panel2 p{
    font-size: 20px;
    font-weight: 400;
}
.foot-panel2 ul a{
    display: block;
    font-size: 16px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    height: 70px;
    color: white;
    border-top: 0.5px solid #979797;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.foot-logo{
    background-image: url("/Amazon.png");
    background-size: cover;
    height: 35px;
    width: 100px;
}
.boxing{
    border: 0.5px solid white;
    width: 145px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    color: #dddddd;
}
.foot-panel4{
    height: 80px;
    color: #dddddd;
    background-color: #131a22;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}
.pages{
    text-align: center;
}
.copyright{
    padding-top: 8px;
}


